body{
    margin: 0;
    text-align: center;
    font-family: 'serif';
    color: #40514E;
    font-size: 17px;
}
h1{
    font-size: 5.625rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 2;

}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
p{
    line-height: 2;
}
a{
    color:#11999E;
}
hr{
    width: 7%;
    border-style: dotted;
    border-width: 10px 0px 0px;
    color: #EAF6F6;
    margin: 100PX auto;
}
.image-content{
    height: 200px;
    width: 200px;
    border-radius: 100%;

}
.top-container{
    background-color: #F4FCD9;
    position: relative;
    padding-top: 100px;


}
.middle-container{
    margin: 100px 0px;
}
.intro{
    width: 30%;
    margin: auto;
}
.bottom-container{
    background-color: #66bfbf;
    padding: 50px 0px 20px;

}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;

}
.bottom-cloud{
    position: absolute;
    left:250px;
    bottom:300px;
}
.skill-row{
    width: 50%;
   margin: 100px auto 100px auto;
   text-align: left;

}
#code-img{
    float: left;
    margin-right: 30px;
    width: 200px;
    height: 200px;
}
#paint-img{
    float: right;
    margin-left: 30px;
    width: 200px;
    height: 200px;
}
.logo{
    height: 30px;
    width: 30px;
    margin: 20px 20px;
}
.contact-msg{
    width: 40%;
    margin: 40px auto 60px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999D);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999D);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999D);
    background-image: -o-linear-gradient(top, #11CDD4, #11999D);
    background-image: linear-gradient(to bottom, #11CDD4, #11999D);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }
  .copyright-msg{
      color: #EAF6F6;
  }